<div class="row">
  <%@users.each do |user|%>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div>
        <%= user.id%>
        <br>
        <%= user.name%>
        <br>
        <%= user.email%>
      </div>
    </div>
  <% end %>
</div>